<div class="row">
    <h1>ฐานข้อมูล</h1>
</div>
<div class="row">
    <div class="input-field col l6">
        <select id="object" ng-model="currentObject" material-select watch ng-change="getData();isShowInputItemCard = false; newObj={};">
            <option value="sparePart">อะไหล่</option>
            <option value="customer">ลูกค้า</option>
            <option value="technician">ช่าง</option>
        </select>
        <label for="object">ฐานข้อมูล</label>
    </div>
    <div class="input-field col s12 l6">
        <input type="text" id="search" ng-model="keyword" />
        <label for="search">ค้นหา</label>
    </div>
</div>
<div class="row">
    <div class="row center-align">
        <button class='btn-large' ng-init="isShowInputItemCard = false;" ng-click="isShowInputItemCard = true;" ng-hide="isShowInputItemCard">เพิ่มข้อมูล</button>
    </div>
    <div class="row">
        <div class="card-panel teal lighten-4" ng-show="isShowInputItemCard">
            <div class="row">
                <div class="input-field col s12 l6" ng-repeat="metadata in tableMetadata[currentObject]">
                    <input type="{{metadata.fieldType}}" ng-model="newObj[metadata.fieldName]" id="{{metadata.fieldName}}" ng-if="metadata.fieldType != 'date'" ng-required="metadata.required"/>
                    <input name="requestDate" input-date type="text" name="created" id="{{metadata.fieldName}}" ng-model="newObj[metadata.fieldName]" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" today="today" clear="clear" close="close" ng-if="metadata.fieldType == 'date'" />
                    <label for="{{metadata.fieldName}}">{{metadata.label}} <span ng-show="metadata.required">***ต้องใส่ช้อมูล***</span></label>
                </div>
            </div>
            <div class="row">
                <button class='btn' ng-click="isShowInputItemCard = false; create()">เพิ่ม</button>
                <button class='btn red' ng-click="isShowInputItemCard = false; newObj={};">ยกเลิก</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="responsive-table" style="width:100%;">
            <thead>
                <th>#</th>
                <th ng-repeat="metadata in tableMetadata[currentObject]">{{metadata.label}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in filteredDataList = (dataList | filter:keyword) | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                    <td>
                        <div ng-show="!data.editMode">
                            <i style="cursor: pointer;" class="small material-icons" ng-click="deleteItem(data)">delete</i>
                            <i style="cursor: pointer;" ng-click="toggleEditMode(data)" class="small material-icons">edit</i>
                        </div>
                        <div ng-show="data.editMode">
                            <button class='btn' ng-click="edit(data); data.editMode = false;">แก้ไข</button>
                            <button class='btn red' ng-click="data.editMode = false;">ยกเลิก</button>
                        </div>
                    </td>
                    <td ng-init="data.editMode = false;" ng-repeat="metadata in tableMetadata[currentObject]">
                        <div ng-show="!data.editMode">{{data[metadata.fieldName]}}</div>
                        <div ng-show="data.editMode" class="input-field">
                            <input type="{{metadata.fieldType}}" ng-model="data[metadata.fieldName]" id="{{metadata.fieldName}}Edit" ng-if="metadata.fieldType != 'date'" ng-required="metadata.required"/>
                            <input name="requestDate" input-date type="text" name="created" id="{{metadata.fieldName}}Edit" ng-model="data[metadata.fieldName]" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" today="today" clear="clear" close="close" ng-if="metadata.fieldType == 'date'" />
                            <label for="{{metadata.fieldName}}Edit">{{metadata.label}} <span ng-show="metadata.required">***ต้องใส่ช้อมูล***</span></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="center-align">
            <pagination page="1" page-size="pagination.perPage" total="filteredDataList.length" show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false" adjacent="2" scroll-top="false" pagination-action="pagination.toPageId(page-1)" />
        </div>
    </div>
