<style>
.material-icons {
    cursor: pointer;
}

p > label {
    color: black;
}
</style>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" href='#saveModal' modal>
    <a class="btn-floating btn-large blue" tooltipped data-position="top" data-delay="150" data-tooltip="บันทึก">
        <i class="large material-icons">save</i>
    </a>
</div>
<div id="saveModal" class="modal">
    <div class="modal-content">
        <h4>ยืนยันการบันทึก</h4>
        <p>คุณแน่ใจแล้วว่าข้อมูลทุกอย่างถูกต้อง?</p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">ยกเลิก</a>
        <a href="" ng-click="submit()" class=" modal-action modal-close waves-effect waves-green btn-flat">ยืนยัน</a>
    </div>
</div>
<div class="container">
    <form name="jobForm">
        <div class="row">
            <h1>ใบงานบริการลูกค้า</h1>
        </div>
        <div class="row">
            <div class="col s6">
                <div input-field>
                    <i class="material-icons prefix" ng-click="getJobRequest(requestObj.job_number)" ng-show="!isUpdate">search</i>
                    <i class="material-icons prefix" ng-click="clearCurrentJobRequest()" ng-show="isUpdate">clear</i>
                    <input id="job_number" name="job_number" type="text" ng-model="requestObj.job_number" ng-disabled="isUpdate" required>
                    <label for="job_number">Job No.</label>
                    <p class="red-text" ng-show="jobForm.job_number.$dirty && jobForm.job_number.$invalid">กรุณากรอก Job No.</p>
                </div>
            </div>
            <div class="col s6">
                <label for="inputCreated">วันที่</label>
                <input name="request_date" input-date type="text" name="created" id="inputCreated" ng-model="requestObj.request_date" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" today="today" clear="clear" close="close" required/>
                <p class="red-text" ng-show="jobForm.request_date.$dirty && jobForm.request_date.$invalid">กรุณากรอกวันที่</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div input-field>
                    <label for="issue_start_time">เวลาเริ่มบริการ</label>
                    <input id="issue_start_time" name="issue_start_time" type="text" ng-model="requestObj.issue_start_time"/>
                    <p class="red-text" ng-show="jobForm.issue_start_time.$dirty && jobForm.issue_start_time.$invalid">กรุณากรอกเวลาเริ่มบริการ</p>
                </div>
            </div>
            <div class="col s6">
                <div input-field>
                    <label for="issue_end_time">เวลาสิ้นสุดบริการ</label>
                    <input id="issue_end_time" name="issue_end_time" type="text" ng-model="requestObj.issue_end_time"/>
                    <p class="red-text" ng-show="jobForm.issue_end_time.$dirty && jobForm.issue_end_time.$invalid">กรุณากรอกเวลาสิ้นสุดบริการ</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="customerSearchKeyword" ng-model="customerSearchKeyword">
                        <label for="customerSearchKeyword">ค้นหาลูกค้า</label>
                    </div>
                    <table class="highlight">
                        <thead>
                            <tr>
                                <!-- <th data-field="price">#</th> -->
                                <th>รหัสลูกค้า</th>
                                <th>ชื่อลูกค้า</th>
                                <th>แผนก</th>
                                <th>รุ่น</th>
                                <th>หมายเลขเครื่อง</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in customerList | filter:customerSearchKeyword | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" ng-click="selectCustomer(customer)" style="cursor:pointer;">
                                <!-- <td></td> -->
                                <td>{{customer.customer_id}}</td>
                                <td>{{customer.customer_name}}</td>
                                <td>{{customer.department}}</td>
                                <td>{{customer.own_machine_model}}</td>
                                <td>{{customer.own_machine_number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center-align">
                        <pagination page="1" page-size="pagination.perPage" total="customerList.length" show-prev-next="true" use-simple-prev-next="false" dots="...." hide-if-empty="false" adjacent="2" scroll-top="false" pagination-action="pagination.toPageId(page-1)" />
                    </div>
                </div>
                <div class="row">
                    <h5>ลูกค้าที่เลือก</h5>
                    <ul class="collection">
                        <li class="collection-item avatar" ng-show="requestObj.selectedCustomer != null">
                            <!-- <img src="resource/L032-01.jpg" alt="" class="circle"> -->
                            <span class="title"><h5>{{requestObj.selectedCustomer.customer_name}} - {{requestObj.selectedCustomer.own_machine_model}} - {{requestObj.selectedCustomer.own_machine_number}}</h5></span>
                            <p>
                                รหัสลูกค้า: {{requestObj.selectedCustomer.customer_id}}
                                <br/> ที่อยู่: {{requestObj.selectedCustomer.customer_address}}
                                <br/> แผนก: {{requestObj.selectedCustomer.department}}
                                <br/> ผู้ติดต่อ: {{requestObj.selectedCustomer.contact_name}}
                                <br/> โทรศัพท์: {{requestObj.selectedCustomer.contact_tel}}
                                <br/> มือถือ: {{requestObj.selectedCustomer.contact_tel_mobile}}
                                <br/> ข้อมูลเพิ่มเติม: {{requestObj.selectedCustomer.remark}}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div input-field>
                        <label for="symptom">อาการเสีย</label>
                        <input id="symptom" type="text" ng-model="requestObj.symptom" />
                    </div>
                </div>
                <div class="row">
                    <div input-field>
                        <label for="root_cause">สาเหตุ</label>
                        <input id="root_cause" type="text" ng-model="requestObj.root_cause" />
                    </div>
                </div>
                <div class="row">
                    <div input-field>
                        <label for="solution">แก้ไข</label>
                        <input id="solution" type="text" ng-model="requestObj.solution" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l12">
                        <select id="technician" ng-model="requestObj.technician_id" material-select watch required ng-change="selectTechnician(requestObj.technician_id)">
                            <option ng-repeat="technician in technicianList" value="{{technician.user_id}}">{{technician.nickname}}</option>
                        </select>
                        <label for="technician">ช่าง</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <h5>อะไหล่ที่มีติดตัว</h5>
                        <table>
                            <thead>
                                <th>ใบเบิก</th>
                                <th>Job No.</th>
                                <th>ชื่ออะไหล่</th>
                                <th>รุ่น</th>
                                <th style="width:10%;">จำนวน</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sparePart in requestObj.technician.carryingSparePartList | carryingSparePartFilter:this">
                                    <td>{{sparePart.requisition_id}}</td>
                                    <td>{{sparePart.job_number}}</td>
                                    <td>{{sparePart.part_name}}</td>
                                    <td>{{sparePart.used_in_model}}</td>
                                    <td>
                                        <input type="number" ng-model="sparePart.usedQuantity" max="{{maxQuantity = sparePart.quantity - sparePart.confirmedUsedQuantity == 0 ? sparePart.usedQuantity : sparePart.quantity - sparePart.confirmedUsedQuantity}}" min="0" />({{maxQuantity}})
                                    </td>
                                    <td><i ng-click="useSparePart(sparePart, sparePart.usedQuantity)" class="small material-icons">playlist_add</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12 l6">
                        <h5>รายการอะไหล่ที่เปลี่ยน</h5>
                        <table>
                            <thead>
                                <th>ใบเบิก</th>
                                <th>Job No.</th>
                                <th>ชื่ออะไหล่</th>
                                <th>รุ่น</th>
                                <th style="width:10%;">จำนวน</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sparePart in requestObj.technician.carryingSparePartList | filter:{isUsed:true}">
                                    <td>{{sparePart.requisition_id}}</td>
                                    <td>{{sparePart.job_number}}</td>
                                    <td>{{sparePart.part_name}}</td>
                                    <td>{{sparePart.used_in_model}}</td>
                                    <td>{{sparePart.confirmedUsedQuantity}}</td>
                                    <td ng-click="unuseSparePart(sparePart)"><i class="small material-icons">delete</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <h5>รายการตรวจเช็คเครื่อง</h5>
                    <div class="col s12 l6">
                        <p ng-repeat="option in requestObj.maintenanceOptionList" ng-if="$index < 5">
                            <input type="checkbox" id="option{{$index + 1}}" ng-model="requestObj.maintenanceOptionList[$index].checked" />
                            <label for="option{{$index + 1}}">{{option.name}}</label>
                        </p>
                    </div>
                    <div class="col s12 l6">
                        <p ng-repeat="option in requestObj.maintenanceOptionList" ng-if="$index >= 5">
                            <input type="checkbox" id="option{{$index + 1}}" ng-model="requestObj.maintenanceOptionList[$index].checked" />
                            <label for="option{{$index + 1}}">{{option.name}}</label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div input-field>
                            <input id="otherMaintenance" type="text" ng-model="requestObj.otherMaintenance" />
                            <label for="otherMaintenance">อื่นๆ</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="startingMeter" type="number" ng-model="requestObj.meter.start_meter" />
                            <label for="startingMeter">มิเตอร์เริ่มต้น</label>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="endingMeter" type="number" ng-model="requestObj.meter.end_meter" />
                            <label for="endingMeter">มิเตอร์สิ้นสุด</label>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="blackWhiteA4Meter" type="number" ng-model="requestObj.meter.black_a4" />
                            <label for="blackWhiteA4Meter">มิเตอร์ขาวดำ A4</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="colorA4Meter" type="number" ng-model="requestObj.meter.color_a4" />
                            <label for="colorA4Meter">มิเตอร์สี A4</label>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="colorA3Meter" type="number" ng-model="requestObj.meter.color_a3" />
                            <label for="colorA3Meter">มิเตอร์สี A3</label>
                        </div>
                    </div>
                    <div class="col s12 l4">
                        <div input-field>
                            <input id="blackWhiteA3Meter" type="number" ng-model="requestObj.meter.black_a3" />
                            <label for="blackWhiteA3Meter">มิเตอร์ขาวดำ A3</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l2">
                        <p>
                            <input type="checkbox" id="fixed" ng-model="requestObj.fixed" />
                            <label for="fixed">ใช้ได้ปกติ</label>
                        </p>
                    </div>
                    <div class="col s12 l10">
                        <div input-field>
                            <input id="nextAction" type="text" ng-model="requestObj.nextAction" />
                            <label for="nextAction">ต้องดำเนินการต่อ</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <button class='btn col s2 push-s10 red' ng-click="sendEmailNotification()" ng-hide="true">test email</button> -->
                    <div modal data-target="demoModal" ready="onReady" complete="onComplete" open="modalOpen" ng-hide="true" >Open Modal</div>
                    <div id="demoModal" class="modal">
                        <div class="modal-content">
                            <h4>คำเตือน</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>เลขใบงานอันก่อนหน้า</th>
                                        <th>อะไหล่</th>
                                        <th>มิเตอร์เริ่มต้นก่อนหน้า</th>
                                        <th>มิเตอร์สิ้นสุดก่อนหน้า</th>
                                        <th>มิเตอร์เริ่มต้นปัจจุบัน</th>
                                        <th>มิเตอร์สิ้นสุดปัจจุบัน</th>
                                        <th>อายุมิเตอร์ของอะไหล่</th>
                                        <th>ส่วนต่างมิเตอร์</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in suspiciousList">
                                        <td>{{obj.history.job_number}}</td>
                                        <td>{{obj.history.part_name}}</td>
                                        <td>{{obj.history.start_meter}}</td>
                                        <td>{{end = obj.history.end_meter}}</td>
                                        <td>{{start = requestObj.meter.start_meter}}</td>
                                        <td>{{requestObj.meter.end_meter}}</td>
                                        <td>{{obj.history.deter_rate}}</td>
                                        <td>{{start - end}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="saveRequest()">ยืนยัน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
