<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" href='#saveModal' modal>
    <a class="btn-floating btn-large blue" tooltipped data-position="top" data-delay="150" data-tooltip="บันทึก">
        <i class="large material-icons">save</i>
    </a>
</div>
<div id="saveModal" class="modal">
    <div class="modal-content">
        <h4>ยืนยันการบันทึก</h4>
        <p>คุณแน่ใจแล้วว่าข้อมูลทุกอย่างถูกต้อง?</p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">ยกเลิก</a>
        <a href="" ng-click="submit()" class=" modal-action modal-close waves-effect waves-green btn-flat">ยืนยัน</a>
    </div>
</div>
<div class="container">
    <form name="withdrawForm">
        <div class="row">
            <h1>คืนอะไหล่</h1>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <select id="technician" ng-model="technician" ng-options="technician.nickname for technician in technicianList" material-select watch required>
                    </select>
                    <label for="technician">ผู้รับของ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h5>อะไหล่ที่มีติดตัว</h5>
                <table>
                    <thead>
                        <th>ใบเบิกเลขที่</th>
                        <th>ชื่ออะไหล่</th>
                        <th>รุ่น</th>
                        <th style="width:10%;">จำนวน</th>
                        <th></th>
                    </thead>
                        <tr ng-repeat="sparePart in technician.carryingSparePartList | filterOutZeroQuantityItem">
                            <td>{{sparePart.requisition_id}}</td>
                            <td>{{sparePart.part_name}}</td>
                            <td>{{sparePart.used_in_model}}</td>
                            <td>
                                <input type="number" ng-model="sparePart.usedQuantity" max="{{sparePart.quantity}}" min="0" />({{sparePart.quantity}})
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </form>
</div>
