<style>
input:disabled {
    color: black !important;
}
</style>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" href='#saveModal' modal>
    <a class="btn-floating btn-large blue" tooltipped data-position="top" data-delay="150" data-tooltip="บันทึก">
        <i class="large material-icons">save</i>
    </a>
</div>
<div id="saveModal" class="modal">
    <div class="modal-content">
        <h4>ยืนยันการบันทึก</h4>
        <p>คุณแน่ใจแล้วว่าข้อมูลทุกอย่างถูกต้อง?</p>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">ยกเลิก</a>
        <a href="" ng-click="submit()" class=" modal-action modal-close waves-effect waves-green btn-flat">ยืนยัน</a>
    </div>
</div>
<div class="container">
    <form name="withdrawForm">
        <div class="row">
            <h1>ใบเบิกอะไหล่</h1>
        </div>
        <div class="row">
            <div class="col s6">
                <div input-field>
                    <input id="booknumber" type="text" ng-model="requestObj.bookNumber" required>
                    <label for="booknumber">เล่มที่</label>
                </div>
            </div>
            <div class="col s6">
                <div input-field>
                    <input id="requisition_id" type="text" ng-model="requestObj.requisitionNumber" required>
                    <label for="requisition_id">เลขที่</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label for="requisition_date">วันที่</label>
                <input input-date type="text" name="created" id="requisition_date" ng-model="requestObj.requisition_date" container="" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" today="today" clear="clear" close="close" />
            </div>
        </div>
        <div class="row">
            <h5>รายการอะไหล่</h5>
            <div class="col s12" ng-repeat="inputItem in requestObj.requisition_item">
                <div class="card-panel teal lighten-4">
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="job_number" type="text" ng-model="inputItem.job_number" href='#jobSearchModal' modal ng-disabled="inputItem.hasJob || inputItem.hasCustomer" disabled>
                            <label for="job_number">Job No.</label>
                        </div>
                        <div class="input-field col s8">
                            <input id="customer" type="text" ng-model="inputItem.customer" ng-disabled="inputItem.hasJob || inputItem.hasCustomer" href="#customerSearchModal" modal disabled>
                            <label for="customer">ลูกค้า</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <select id="machineModel" ng-model="inputItem.machineModel" ng-change="inputItem.itemName = ''" material-select watch disabled>
                                <option ng-repeat="val in machineModelList">{{val.name}}</option>
                            </select>
                            <label for="machineModel">รุ่น</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="serialNumber" type="text" ng-model="inputItem.serialNumber" disabled/>
                            <label for="serialNumber">เลขเครื่อง</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="itemName" type="text" ng-model="inputItem.itemName" href='#itemSearch' modal disabled>
                            <label for="itemName">อะไหล่</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="number" id="quantity" ng-model="inputItem.quantity" min="1" max="{{inputItem.quanityInStock}}" ng-change="inputItem.price = inputItem.quantity * inputItem.pricePerItem" disabled/>
                            <label for="quantity">จำนวน</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="number" id="price" ng-model="inputItem.value" disabled/>
                            <label for="price">จำนวนเงิน</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class='btn col s2 push-s10 red' ng-click="deleteItem($index)">ลบ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr/>
            <button class='btn col s2 push-s10' ng-init="isShowInputItemCard = false;" ng-click="isShowInputItemCard = true;" ng-hide="isShowInputItemCard">เพิ่ม</button>
            <div class="card-panel" ng-show="isShowInputItemCard">
                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix" style="cursor: pointer;" ng-click="inputItem = {};" ng-show="inputItem.hasJob">clear</i>
                        <input id="job_number" type="text" ng-model="inputItem.job_number" href='#jobSearchModal' modal ng-disabled="inputItem.hasJob || inputItem.hasCustomer">
                        <label for="job_number">Job No.</label>
                        <div id="jobSearchModal" class="modal bottom-sheet" ng-hide="inputItem.hasJob">
                            <div class="modal-content">
                                <h4>ค้นหา - {{inputItem.job_number}}</h4>
                                <ul class="collection">
                                    <li class="collection-item avatar modal-close" ng-repeat="job in jobList | filter:inputItem.job_number" ng-click="selectJob(job)">
                                        <span class="title"><h5>Job No. {{job.job_number}}</h5></span>
                                        <p>
                                            ลูกค้า: {{job.customer_id}} {{customerMap[job.customer_id].customer_name}}
                                            <br/> รุ่น: {{customerMap[job.customer_id].own_machine_model}}<br/>
                                            เลขเครื่อง: {{customerMap[job.customer_id].own_machine_number}}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s8">
                        <i class="material-icons prefix" style="cursor: pointer;" ng-click="inputItem = {};" ng-show="inputItem.hasCustomer">clear</i>
                        <input id="customer" type="text" ng-model="inputItem.customer" ng-disabled="inputItem.hasJob || inputItem.hasCustomer" href="#customerSearchModal" modal>
                        <label for="customer">ลูกค้า</label>
                        <div id="customerSearchModal" class="modal bottom-sheet">
                            <div class="modal-content">
                                <h4>ค้นหา - {{inputItem.customer}}</h4>
                                <ul class="collection">
                                    <li class="collection-item avatar modal-close" ng-repeat="customer in customerList | filter:inputItem.customer" ng-click="selectCustomer(customer)">
                                        <span class="title"><h5>{{customer.customer_name}} - {{customer.own_machine_model}} - {{customer.own_machine_number}}</h5></span>
                                        <p>
                                            รหัสลูกค้า: {{customer.customer_id}}
                                            <br/> ที่อยู่: {{customer.customer_address}}
                                            <br/> แผนก: {{customer.department}}
                                            <br/> ผู้ติดต่อ: {{customer.contact_name}}
                                            <br/> โทรศัพท์: {{customer.contact_tel}}
                                            <br/> มือถือ: {{customer.contact_tel_mobile}}
                                            <br/> ข้อมูลเพิ่มเติม: {{customer.remark}}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                    <div ng-hide="inputItem.hasCustomer">
                        <select id="machineModel" ng-model="inputItem.machineModel" ng-change="inputItem.itemName = ''" material-select watch >
                            <option ng-repeat="val in machineModelList">{{val.name}}</option>
                        </select>
                        </div>
                        <input id="machineModel" type="text" ng-model="inputItem.machineModel" disabled ng-hide="!inputItem.customer || inputItem.customer.length == 0" />
                        <label for="machineModel">รุ่น</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="serialNumber" type="text" ng-model="inputItem.serialNumber" disabled/>
                        <label for="serialNumber">เลขเครื่อง</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="itemName" type="text" ng-model="inputItem.itemName" href='#itemSearch' modal>
                        <label for="itemName">อะไหล่</label>
                        <div id="itemSearch" class="modal bottom-sheet">
                            <div class="modal-content">
                                <h4>ค้นหา - {{inputItem.itemName}}</h4>
                                <ul class="collection">
                                    <li class="collection-item avatar modal-close" ng-repeat="item in sparePartInStockList | filter:{used_in_model:inputItem.machineModel}" ng-click="selectItem(item)" ng-show="inputItem.machineModel">
                                        <span class="title"><h5>{{item.part_name}}</h5></span>
                                        <p>
                                            รุ่น: {{item.used_in_model}}
                                            <br/> จำนวนในสต๊อค: {{item.quantity}}
                                            <br/> จำนวนเงิน: {{item.price}}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s2">
                        <input type="number" id="quantity" ng-model="inputItem.quantity" min="1" max="{{inputItem.quanityInStock}}" ng-change="inputItem.value = inputItem.quantity * inputItem.pricePerItem" style="width:60%;" />
                        <label for="quantity">จำนวน</label>
                        ({{inputItem.quanityInStock}})
                    </div>
                    <div class="input-field col s2">
                        <input type="number" id="price" ng-model="inputItem.value" disabled/>
                        <label for="price">จำนวนเงิน</label>
                    </div>
                </div>
                <div class="row">
                    <button class='btn col s2 push-s8' ng-click="addInputItem()">เพิ่ม</button>
                    <button class='btn col s2 push-s8 red' ng-click="resetInputItem()">ยกเลิก</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div input-field>
                    <select id="giver_userid" ng-model="requestObj.giver_userid" material-select watch required>
                        <option ng-repeat="technician in technicianList" value="{{technician.user_id}}">{{technician.nickname}}</option>
                    </select>
                    <label for="giver_userid">ผู้สั่งจ่าย</label>
                </div>
            </div>
            <div class="col s6">
                <div input-field>
                    <select id="receiver_userid" ng-model="requestObj.receiver_userid" material-select watch required>
                        <option ng-repeat="technician in technicianList" value="{{technician.user_id}}">{{technician.nickname}}</option>
                    </select>
                    <label for="receiver_userid">ผู้รับของ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 push-s6">
                <select id="receiver_onbehalf" ng-model="requestObj.receiver_onbehalf" ng-options="technician.nickname for technician in technicianList" material-select watch>
                </select>
                <label for="receiver_onbehalf">รับแทน</label>
            </div>
        </div>
    </form>
</div>
